server:
  port: 8099

spring:
  application:
    name: notification-service

  datasource:
    url: jdbc:mysql://localhost:3306/mobilehub_notification?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Bangkok&characterEncoding=utf8
    username: root
    password: root1234!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  kafka:
    bootstrap-servers: localhost:9092
    # ✅ Không cần config consumer ở đây nữa, đã config trong KafkaConsumerConfig

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GOOGLE_APP_NAME}
    password: ${GOOGLE_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  jwt:
    signer-key: "PASTE_SAME_SIGNER_KEY_AS_IDENTITY_SERVICE"