body {
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: white;
  border-bottom: 1px solid #eee;
}
.nav-link.active {
  background-color: #ffeb3b;
  border-radius: 5px;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.chart-container {
  position: relative;
  height: 200px;
}
.text-yellow {
  color: #f7c948;
}
.btn-yellow {
  background-color: #f7c948;
  color: black;
  border: none;
}
.btn-yellow:hover {
  background-color: #f9d64e;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 0; /* bỏ padding mặc định */
  margin: 0; /* bỏ margin */
}
canvas#lineChart {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
#repayChart {
  height: 80px !important;
}
#pieChart {
  max-height: 120px !important;
  width: auto !important;
}

.col-md-4 .chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card i {
  display: block;
  margin-bottom: 8px;
}
.card.d-flex i {
  min-width: 40px;
  text-align: center;
}
.card-small {
  min-height: 100px;
}
.table td,
.table th {
  vertical-align: middle;
}
.card {
  text-align: left; /* căn toàn bộ nội dung về bên trái */
}
.modal-content {
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: #f7c948;
  color: black;
  border-bottom: none;
}

.btn-success {
  background-color: #28a745;
  border: none;
  font-weight: 500;
}

.btn-success:hover {
  background-color: #218838;
}
