server:
port: 8087
spring:
  application:
    name: rating-service
  datasource:
    url: jdbc:mysql://localhost:3306/mobilehub_rating?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root1234!
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
    properties:
      hibernate:
        format_sql: true
  mvc:
    problemdetails:
      enabled: true


logging:
level:
org.springframework: INFO

