server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mobilehub_identity?createDatabaseIfNotExist=true
    username: root
    password: root1234!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQLDialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_OAUTH_CLIENT_ID}
            client-secret: ${GOOGLE_OAUTH_CLIENT_SECRET}
            scope:
              - openid
              - email
              - profile

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GOOGLE_APP_NAME}
    password: ${GOOGLE_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  otp:
    expire-minutes: 1
    from-email: "no-reply@example.com"
