server:
  port: 8084

spring:
  application:
    name: cart-service

  datasource:
    url: jdbc:mysql://localhost:3306/mobilehub_cart?createDatabaseIfNotExist=true
    username: root
    password: root1234!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update     # Tự tạo/tự cập nhật bảng
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cloud:
    compatibility-verifier:
      enabled: false

feign:
  client:
    config:
      default:
        connectTimeout: 3000
        readTimeout: 5000
        loggerLevel: full

service:
  identity: http://localhost:8081
  product: http://localhost:8083
