server:
  port: 9999

spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:mysql://localhost:3306/mobilehub_payment?createDatabaseIfNotExist=true
    username: root
    password: root1234!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

services:
  order: http://localhost:8085
  inventory: http://localhost:8086
